{{!-- <div class="card"> --}}
    {{#each this}}
    <div class="flag-img">
        <img src="{{flag}}" alt="{{name}}">
    </div>
    <div class="card-body">
        <h1 class="card-title">{{name}}</h1>
        <p><b>Capital:</b> {{capital}}</p>
        <p><b>Population:</b> {{population}}</p>
        <p><b>Languages:</b> </p>
        <ul class="list-languages">
        {{#each languages}}
        <li class="list-group-item">{{name}}</li>
        {{/each}}
        </ul>
    </div>
    {{/each}}
{{!-- </div> --}}